{% extends 'analytics_base.html' %} {% load static %} {% block title %}Analytics | Insights{% endblock title %} {% block active2 %}active{% endblock active2 %} {% block body %}
<h1>Insights</h1><br>
<div class="fortable1">

    <table class="table  table-bordered" id="insigts_table">
        <thead>
            <tr>
                <th scope="col" style="width: 40%;">Particulars</th>
                <th scope="col" style="width: 15%; text-align: right;">Current</th>
                <th scope="col" style="width: 15%; text-align: right;">Previous</th>
                <th scope="col" style="width: 15%; text-align: center;">% Increse / (Decrease)</th>
                <th scope="col" style="width: 15%; text-align: right;">3 month's Average</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active" id="advt_and_marketing">

            </tr>
            <tr class="accordion-collapse collapse advt_and_marketing">
                <td colspan="7">
                    <table class="table mb-0" id="advt_and_marketing_insights">
                        <tbody>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="table-active" id="employement">

            </tr>
            <tr class="accordion-collapse collapse employement">
                <td colspan="7">
                    <table class="table mb-0" id="employement_insights">
                        <tbody>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="table-active" id="rent_rate_repair">
                <th scope="row" colspan="7">Rent, Rates & Repairs Expenses</th>
            </tr>
            <tr class="accordion-collapse collapse rent_rate_repair">
                <td colspan="7">
                    <table class="table mb-0" id="rent_rate_repair_insights">
                        <tbody>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="table-active" id="brokerage_commission">
                <th scope="row" colspan="7">Brokerage & Commission Charges</th>
            </tr>
            <tr class="accordion-collapse collapse brokerage_commission">
                <td colspan="7">
                    <table class="table mb-0" id="brokerage_commission_insights">
                        <tbody>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="table-active" id="general_and_admin">
                <th scope="row" colspan="7">General & Admin Charges</th>
            </tr>
            <tr class="accordion-collapse collapse general_and_admin">
                <td colspan="7">
                    <table class="table mb-0" id="general_and_admin_insights">
                        <tbody>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock body %} {% block script %}
<script src="{% static 'js/insights.js' %}"></script>
{% endblock script %}